/* roots per i colori */
:root{
    --bs-success-rgb: 26,188,156;
    --bs-dark-rgb: 44,62,80;
}

/* classi per responsiveness in xs */
.my_profile_pic{
    max-width: 300px;
}

.my_about_xs_row{
    margin:0 auto;
    max-width: 300px;
}

/* hr star */
.bi.bi-star-fill{
    vertical-align: middle;
}
.hr_star_bars{
    height: 4px;
    width: 60px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
}

/** footer social icons */
.my_social_icon_container{
    max-width: 80px;
}
/* hover for footer social icons*/
.my_social_icon_container .my_facebook:hover{
    background-color: #3B5998;
}
.my_social_icon_container .my_google:hover{
    background: linear-gradient(90deg, rgba(227,65,51,255) 20%,rgba(243,182,5,255) 20% 40%,rgba(50,163,80,255) 40% 60%,rgba(93,123,236,255)  60% 80%,rgba(227,65,51,255) 80% 100%);
}
.my_social_icon_container .my_twitter:hover{
    background-color: #1DA1F2;
}
.my_social_icon_container .my_linkedin:hover{
    background-color: #0E76A8;
}


/** hover per le card  */
.my_card{
    position: relative;
    overflow: hidden;
}

.my_card_description{
    width: 90%;
    height: 90%;
    margin: 8%;
}
.my_card_description{
    
    font-size: 0.9em;
    z-index: 2;
    position: absolute;
    bottom: -220px;
    transition: transform 1s;
}
.my_card:hover .my_card_description{
    transform: translateY(-210px);
}
.my_card:hover::before{
    content: "";
    position: absolute;
    top: 18px;
    bottom: 18px;
    right: 12px;
    left: 12px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}



/** MEDIA QUERY FOR MD SCREEN */
@media screen and (min-width: 768px){
    .my_about_md_row{
        margin: 0 auto;
        max-width: 768px;
    } 
}



/** MEDIA QUERY FOR LG SCREEN */
@media screen and (min-width: 992px){
    .my_central_row{
        max-width: 992px;
    }
    .my_about_lg_row{
        margin: 0 auto;
        max-width: 992px;
    } 
}