.my_profile_pic{
    max-width: 300px;
}

.my_about_xs_row{
    margin:0 auto;
    max-width: 300px;
}

/***********
MEDIA QUERY FOR MD SCREEN
*************/
@media screen and (min-width: 768px){
    .my_about_md_row{
        margin: 0 auto;
        max-width: 768px;
    } 
}



/***********
MEDIA QUERY FOR LG SCREEN
*************/
@media screen and (min-width: 992px){
    .my_central_row{
        max-width: 992px;
    }
    .my_about_lg_row{
        margin: 0 auto;
        max-width: 992px;
    } 
}